@mixin flexbox-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

@mixin flexbox-column {
    flex-direction: column;
}