.navbar {
    background-color: #000;
    &__box {

        @include flexbox-center;
    }
    &__item {
        height: 50px;
        @include flexbox-center;
        &:hover {
            background-color: $red-color;
            cursor: pointer;
        }
    }
    &__link {
        padding: 0 20px;
        font-size: 24px;
        color: #fff;
        &:hover,
        &:active,
        &:visited {
            color: #fff;
            text-decoration: none;
        }
    }
}